<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :email %>:
  <%= f.email_field :email %><br />

  <%= f.label :identification %>:
  <%= f.text_field :identification %><br />

  <%= f.label :full_name %>:
  <%= f.text_field :full_name %><br />

  <%= f.label :password %>:
  <%= f.password_field :password %><br />

  <%= f.label :password_confirmation %>:
  <%= f.password_field :password_confirmation %><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
